<h1>Create item</h1>

<form action="/make_a_new_item" method="post">
<div>
<label for="">Link URL</label>
<input type="text" name="link_url_param" id="link_url">
</div>

<div>
<label for="">Link Description</label>
<input type="text" name="link_description_param" id="link_description">
</div>

<div>
<label for="">Thumbnail URL</label>
<input type="text" name="thumbnail_url_param" id = "thumbnail_url">
</div>

<button>Create item</button>
</form>
