<h1>Add a new item</h1>

<form action="/make_a_new_item" method="post">
<div>
<label for="">Link URL</label>
<input type="text" name="" id="">
</div>

<div>
<label for="">Link Description</label>
<input type="text" name="" id="">
</div>

<div>
<label for="">Thumbnail URL</label>
<input type="text">
</div>

<button>Create Item</button>
</form>
